/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/


/* El selector `:root` en CSS se utiliza para apuntar al elemento raíz del documento, que normalmente
es el `:root`.<html> `elemento. En este contexto, se trata de establecer propiedades personalizadas
utilizando variables CSS. */
:root {
    --negro          : #393939;
    --tipo-principal : Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}

/* modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --negro: #ececec;
    }
}

/* La regla `@media (prefiere-movimiento-reducido: reducir)` está dirigida a usuarios que han
especificado una preferencia por el movimiento reducido en su sistema operativo o en la
configuración del navegador. */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation : none !important;
        animation         : none !important;
        -webkit-transition: none !important;
        transition        : none !important;
    }
}

/* Este fragmento de código CSS es un restablecimiento de CSS que apunta a todos los elementos de la
página utilizando el selector universal `*`. Esto es lo que hace cada propiedad: */
* {
    margin            : 0;
    padding           : 0;
    border            : 0;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    vertical-align    : baseline;
}

/* Este bloque de código CSS establece estilos para varios tipos de elementos multimedia como imágenes,
fotografías, vídeos, iframes y figuras. Esto es lo que hace cada propiedad: */
img,
picture,
video,
iframe,
figure {
    max-width         : 100%;
    width             : 100%;
    display           : block;
    -o-object-fit     : cover;
    object-fit        : cover;
    -o-object-position: center center;
    object-position   : center center;
}

/* Reseteamos los enlaces para funcionar como cajas. El código CSS `a { display: block; decoración de texto: ninguna; color: heredar; tamaño de fuente:
heredar; }` está diseñando <a>elementos de anclaje ` `. Esto es lo que hace cada propiedad:</a> */
a {
    display        : block;
    text-decoration: none;
    color          : inherit;
    font-size      : inherit;
}

/* La regla CSS `pa { display: inline; }` apunta a <a>elementos ancla ` ` que están anidados dentro de
` <p>` elementos. Está configurando la propiedad de visualización de estos elementos de anclaje en
&quot;en línea&quot;, lo que significa que se mostrarán en línea con el texto circundante en lugar
de como elementos a nivel de bloque. Esta regla anula el comportamiento de visualización
predeterminado a nivel de bloque de los elementos ancla dentro de los párrafos, lo que les permite
fluir en línea con el contenido del texto del párrafo.</p></a> */
p a {
    display: inline;
}

/* El código CSS `li {list-style-type: none; }` está eliminando las viñetas predeterminadas de los
elementos de la lista (`<li> `elementos). Al establecer &quot;tipo de estilo de lista&quot; en
&quot;ninguno&quot;, se eliminan las viñetas que normalmente aparecen antes de cada elemento de la
lista en una lista desordenada. Esto ayuda a personalizar el estilo de las listas eliminando el
marcador de lista predeterminado. */
li {
    list-style-type: none;
}