/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/


/* El selector `:root` en CSS se utiliza para apuntar al elemento raíz del documento, que normalmente
es el `:root`.<html> `elemento. En este contexto, se trata de establecer propiedades personalizadas
utilizando variables CSS. */
:root {
    --negro          : #393939;
    --tipo-principal : Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}

/* modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --negro: #ececec;
    }
}

/* La regla `@media (prefiere-movimiento-reducido: reducir)` está dirigida a usuarios que han
especificado una preferencia por el movimiento reducido en su sistema operativo o en la
configuración del navegador. */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation : none !important;
        animation         : none !important;
        -webkit-transition: none !important;
        transition        : none !important;
    }
}